.form-classification {
    width: 100vw;
    height: calc(100vh - 65px);
    overflow: hidden;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.form-classification:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-classification pre{
    font-family: sans-serif;
    font-weight: lighter;
    white-space: pre-wrap;
    height: 70%;
    overflow-y: auto;
    border-radius: 3px;
    border: 3px solid #eee;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
}

.form-classification div.controls--form{
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.controls--select {
    height: 100%;
    width: 40%;
    font-size: larger;
    border: 0;
    background-color: #F8F8FF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: sans-serif;
    font-weight: lighter;
}

/*.controls--select:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/

.button {
    background-color: #fff;
    padding: 10px 15px;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: small;
    margin: 0 17px;
    align-self: center;
    border: 3px solid navajowhite;
}

.button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.button:active {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #a00037;
}

.button.green {
    border: 3px solid #D6F8DE;
}

.button.red {
    border: 3px solid #FFC8C8;
}

.button.yellow {
    border: 3px solid #FFFBDF;
}

.button--category {
    width: 47%;
    align-self: flex-start;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 0;
    background-color: #00a6d6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 0 10px 0;
    padding: 10px 0;
    color: #fff;
    border-radius: 2px;
    font-size: medium;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: lighter;
}

.button--category:hover {
    background-color: #eee;
    color: #00a6d6;
}

.button--category.selected {
    background-color: #fff;
    color: #00a6d6;
    text-decoration: underline;
}

.button_list--categories {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    flex-grow: 2;
}

.controls--form__api_buttons {
    display: flex;
}


@media screen and (max-width: 980px) {
    .button--category {
        width: 76%;
        align-self: center;
        padding: 16px 0;
        line-height: 0;
    }

    .button_list--categories {
        flex-wrap: nowrap;
        overflow: auto;
    }

    .controls--form__api_buttons {
        flex-direction: column;
        justify-content: space-around;
    }

}
