.slider p {
    color: gray;
    font-size: 10pt;
    text-transform: none;
}

.slider--content {
    width: 90%;
    margin: 15px auto 10px auto;
}

.slider .noUi-connect {
    background-color: #00a6d6;
}
