.header--page {
    border-bottom: 10px solid #0077a4;
    height: 55px;
    background:
        url(/img/hb.svg) no-repeat left/50%,
        #00a6d6;
    color: white;
}

.header--page h1 {
    margin: 0;
    padding: 3px 0 0 7px;
    display: inline-block;
    cursor: pointer;
    font-family: arial;
    line-height: 72px;
    font-size: 30px;
}

.header--page > h1 span{
    font-family: arial;
    font-weight: lighter;
}

.header--page__img {
    height: 45px;
    position: absolute;
    top: 5px;
    right: 10px;
}
