.header--page {
    border-bottom: 10px solid #0077a4;
    height: 55px;
    background-color: #00a6d6;
    color: white;
}

.header--page h1 {
    margin: 0;
    position: relative;
    top: 19px;
    left: 10px;
}

.header--page__img {
    height: 45px;
    position: absolute;
    top: 5px;
    right: 10px;
}
