<section class="card card--control" data-sidemenu>
    <div class="card--control__content card--control__relations" data-content-export>
        <p>Export Relations</p>
        <a id="exportBtn" href="/"><img src="/img/export.svg"></a>
        <input type="number" placeholder="Probability Threshold" step="0.05" min="0" max="1" data-probability-threshold>
        </datalist>
    </div>
    <div class="card--control__cities card--control__content" data-content-cities>
        <p>Cities</p>
        <div class="card--control__content--header">
            {% include 'slider/population.html' %}

            <input type="text" name="city-search" value="" placeholder="UrbanSearch" autocomplete="off">
        </div>
        <div class="card--control__cities" data-city-list>

        </div>
    </div>

    <div class="card--control__content">
        <p>Relations</p>
        <div class="card--control__relations" data-content-relations>

        </div>

    </div>
</section>
