<section class="card card--control" data-sidemenu>
    <div class="card--control__content card--control__relations" data-content-export>
        <a id="exportBtn" href="/"><img src="/img/export.svg"> Export relations</a>
    </div>
    <div class="card--control__cities card--control__content" data-content-cities>
        <div class="card--control__content--header">
            {% include 'slider/population.html' %}

            <input type="text" name="city-search" value="" placeholder="UrbanSearch" autocomplete="off">
        </div>
        <div class="card--control__cities" data-city-list>

        </div>
    </div>

    <div class="card--control__content">
        <div class="card--control__relations" data-content-relations>

        </div>

    </div>
</section>
