{% extends 'base.html' %}

{% block title %}UrbanSearch{% endblock %}

{% block header %}
    <header class="header--page">
        <h1>UrbanSearch</h1>
        <img class="header--page__img" src="/img/tu-delft.svg" alt="TU Delft logo">
    </header>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.0.0/nouislider.min.css">
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block main %}
    <div id="map"></div>
{% endblock %}

{% block sections %}
    <!-- CONFIG CARD BEGIN -->
    {% include 'card/control.html' %}
    <!-- CONFIG CARD END -->
    <!-- INFO CARD BEGIN -->
    {% include 'card/info.html' %}
    <!-- INFO CARD END -->
    <a id="exportBtn">Export relations</a>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvg8p9qiY0WMg_LpHO6-PvZWlDyEbPGOw"></script>
    <script type="text/javascript" src="/js/templates.js"></script>
    <script type="text/javascript" src="/js/index.bundle.js"></script>
{% endblock %}
