{% extends 'base.html' %}

{% block title %}UrbanSearch{% endblock %}

{% block header %}
    <header class="header--page">
        <h1 onclick="window.location='/'">UrbanSearch</h1>
        <img class="header--page__img" src="/img/tu-delft.svg" alt="TU Delft logo">
    </header>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.0.0/nouislider.min.css">
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block main %}
    <div id="map" class="full"></div>
    {% include 'loaders/relations.html' %}
{% endblock %}

{% block sections %}
    <button class="sidemenu__menu-toggle closed" type="button" name="button" data-menu-toggle>
        <img src="/img/menu.svg" alt="toggle button">
        <!-- <img class="icon icons8-Menu" width="48" height="48" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAp0lEQVRoQ+2WQQqAMAwE2/8/Ws8FYQ/JVLKs57iYmRCz1/BnD//+lQb+NhgDMVAkkBEqAiy/bmngKWNhAw7oXwbSACvgvB4sDcAAe+Mtt1AvIjgtBmDAMj4GJCK4wNJATombU2N5SowfIXgCeuMtt1AvIjgtBmDAMj4GJCK4wNLA+B9ZGrg59pbHHAywN95yC/UigtNiAAYs42NAIoILYgAGLOPHG3gBVmgMMZu6MsgAAAAASUVORK5CYII="> -->
    </button>
    {% include 'sidemenu/sidemenu.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvg8p9qiY0WMg_LpHO6-PvZWlDyEbPGOw"></script>
    <script type="text/javascript" src="/js/templates.js"></script>
    <script type="text/javascript" src="/js/index.bundle.js"></script>
{% endblock %}
