<article class="card--control__content">
    <p>Relations</p>
    <div class="card--control__relations" data-content-relations>
        <span class="hint">Select a relationscore transform function</span>
        <select name="transform" data-transform-select>
            <option value="occurence">Occurrence</option>
            <option value="minpop">Relative MinPop</option>
            <option value="pop">Relative Pop</option>
            <option value="gravity">** C-G **</option>
        </select>
        <span class="hint">Select the minimum value for the relation type</span>
    </div>

</article>
