.card {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card > header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #d81b60;
    padding: 15px 0;
    text-align: center;
    color: white;
}

.card p {
    text-align: center;
    color: #777;
}

.card nav {
    padding: 5px 0;
    text-align: center;
}

.card select {
    border: 1px solid #ddd;
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: #00a6d6;
}

.card input {
    width: 94%;
    margin-left: 3%;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: medium;
    transition: font 0.3s ease;
    text-align: center;
}

.card input:focus {
    font-size: small;
}

.card input[type=checkbox] {
    width: initial;
}

.card button {
    background: transparent;
    border: 0;
    color: #00a6d6;
    font-size: large;
    cursor: pointer;
    text-decoration: underline;
}

.card--list__cities {
    list-style-type: none;
    padding: 0;
}

.card--list__cities li{
    text-align: center;
    padding: 5px 0;
}

.card--list__hidden {
    display: none;
}

.card--control__content.hidden {
    display: none;
}
