.card--control {
    position: fixed;
    top: calc(65px);
    left: 0px;
    height: calc(100vh - 65px);
    width: 350px;
    overflow-y: auto;
    flex-direction: column;
}

.card--control__content {
    color: #666;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 400px;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px 10px;
    width: 94%;
    margin-left: 3%;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card--control__content.hidden {
    display: none;
}

.card--control__content.card--control__relation {
    overflow: hidden;
    height: 400px;
    transition: all .8s cubic-bezier(.25,.8,.25,1);
    padding-bottom: 70px;
    cursor: pointer;
    background-color: #eee;
}

.card--control__content.card--control__relation.init {
    height: 55px !important;
    background-color: #DAEEF3;
}

.card--control__content.selected {
    background-color: #fff;
    height: 100%;
}

.card--control__content.card--control__relation.active {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow-y: auto;
    cursor: auto;
    background-color: #fff;
}

.card--control__cities, .card--control__relations {
    color: #666;
    overflow-x: auto;
}
