.card--info {
    position: fixed;
    width: 300px;
    right: 5px;
    top: calc(60vh + 25px);
}

.card--table__info {
    width: 100%;
}

.card--table__info td {
    padding: 10px;
    text-transform: capitalize;
}
