.card--info {
    position: fixed;
    width: 300px;
    right: 5px;
    top: 50vh;
}

.card--info__content {
    max-height: 40vh;
    overflow-y: auto;
}

.card--table__info {
    width: 100%;
    height: 100%;
}

.card--table__info td {
    padding: 5px;
    text-transform: capitalize;
}

.table--info__key {
    font-weight: lighter;
}
