{% extends 'base.html' %}

{% block title %}UrbanSearch{% endblock %}

{% block header %}
    <header class="header--page">
        <h1>UrbanSearch</h1>
        <img class="header--page__img" src="/img/tu-delft.svg" alt="TU Delft logo">
    </header>
{% endblock %}

{% block main %}
    <div id="map"></div>
{% endblock %}

{% block sections %}
<!-- CONFIG CARD BEGIN -->
    <section class="card card--control">
        <header>
            MAP CONTROLS
        </header>
        <nav>
            <button>Cities</button>
            <button>Relations</button>
        </nav>
        <div class="slider slider--population">
            <div class="noUiSlider slider--content slider--population__content">

            </div>
            <p class="slider--population__info">Population range:</p>
            <p>
                <span id="slider--population__min"></span> -
                <span id="slider--population__max"></span>
            </p>
        </div>
        <input type="text" name="city-search" value="" placeholder="UrbanSearch" autocomplete="off">
        <div class="card--control__cities" data-city-list>

        </div>
        <div class="card--control__relations">

        </div>
    </section>
    <!-- CONFIG CARD END -->
    <!-- INFO CARD BEGIN -->
    <section class="card card--info" data-info-card hidden>
        <header>
            INFO
        </header>
        <div class="card--content card--info__content">

        </div>
        <button class="card--button card--button__close" type="button" data-info-button-close>Close</button>
    </section>
    <!-- INFO CARD END -->
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvg8p9qiY0WMg_LpHO6-PvZWlDyEbPGOw"></script>
    <script type="text/javascript" src="/js/templates.js"></script>
    <script type="text/javascript" src="/js/index.bundle.js"></script>
{% endblock %}
