.section__train--classifier, .section__data--classifier {
    font-weight: lighter;
}

.section__train--classifier h1, .section__data--classifier h1 {
    font-weight: lighter;
    font-size: 48px;
    width: 100%;
    text-align: center;
}

.section__train--classifier button {
    padding: 15px 80px;
    font-size: larger;
    border: 1px solid #eee;
    background-color: white;
    color: #00a6d6;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.section__train--classifier button:disabled,
.section__train--classifier button[disabled] {
    color: crimson;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: not-allowed;
}

.section__train--classifier {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.section__data--classifier {
    width: 100%;
    min-height: 100%;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 100px;
    box-sizing: border-box;
}

.card__data {
    max-width: 350px;
    background-color: #fff;
    margin: 10px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 3px;
    border: 3px solid #ECFAFF;
    flex-grow: 1;
}

.card__data.green {
    border-color: #D6F8DE;
}

.card__data.blue {
    border-color: #D0E6FF;
}

.card__data.red {
    border-color: #FFC8C8;
}

.card__data.yellow {
    border-color: #FFFBDF;
}

.card__data--count {
    display: block;
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
    color: #444;
    margin: 35px auto 35px auto;
}

.card__data--explain {
    display: block;
    text-align: center;
    margin: 5px 0 15px 0px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #666;
}
